<div class="row align-items-center no-gutters mb-4 mb-lg-5">
    <div class="col-xl-4 col-lg-5">

        <partial name="_ImageTagPartial" />

    </div>
    <div class="col-xl-8 col-lg-7 mb-5">
        <div class="featured-text text-center text-lg-left">

            <partial name="_ContentTagPartial" />

        </div>
    </div>
</div>