<!--Search-->
<div class="input-group input-group-lg md-form form-sm form-1 pl-0 mb-5 border-primary">
    <div class="input-group-prepend">
        <span class="input-group-text bg-primary border-primary" id="basic-text1">
            <a href="">
                <i class="fas fa-search text-white"
                   aria-hidden="true"></i>
            </a>
        </span>
    </div>
    <button class="btnSmaller bg-primary text-white dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search By</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
    </div>
    <input class="form-control p-4 input-lg my-0 py-1 searchBorder" type="text" placeholder="Search . . ." aria-label="Search">
</div>

<!--ON ONE LINE POSTS-->
<div class="row justify-content-center no-gutters mb-5 mb-l-0">
    <div class="col-lg-5 order-lg-first">
        <div class="bg-black text-center h-75 project rounded">
            <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                    <h4 class="text-white">Mountains</h4>
                    <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
                    <hr class="d-none d-lg-block mb-0 mr-0" />
                    <br>
                    <p class="text-white-50 mb-0">Likes: <span class="text-white">123</span></p>
                    <p class="text-white-50 mb-0">Dislikes: <span class="text-white">12</span></p>
                    <br>
                    <button class="btn btn-outline-light mr-3 mb-5">
                        <i class="fas fa-thumbs-up"></i> Like
                    </button>
                    <button class="btn btn-outline-light mb-5">
                        <i class="fas fa-thumbs-down"></i> Dislike
                    </button>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 mb-5 mb-l-0"></div>
    <div class="col-lg-5">
        <div class="bg-black text-center h-75 project rounded">
            <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                    <h4 class="text-white">Misty</h4>
                    <p class="mb-0 text-white-50">An example of ple of ple of ple of ple of ple of ple of ple of ple of ple of ple of ple of ple of ple of ple of ple of adasdwhere you can put an image of a project, or anything else, along with a description.</p>
                    <hr class="d-none d-lg-block mb-0 ml-0" />
                    <br>
                    <p class="text-white-50 mb-0">Likes: <span class="text-white">123</span></p>
                    <p class="text-white-50 mb-0">Dislikes: <span class="text-white">12</span></p>
                    <br>
                    <button class="btn btn-outline-light mr-3 mb-5">
                        <i class="fas fa-thumbs-up"></i> Like
                    </button>
                    <button class="btn btn-outline-light mb-5">
                        <i class="fas fa-thumbs-down"></i> Dislike
                    </button>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>


</div>

<!--ON SEPARATE LINE POSTS-->
<div class="row justify-content-center no-gutters mb-5">
    <div class="bg-black text-center h-100 project rounded">
        <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center">
                <h4 class="text-white mb-4"><span class="nameBorder">Dimitur Kazakov</span></h4>
                <p class="mb-0 text-white-50">An example of where you can put an image of f where you can put an image of f where you can put an image of f where you can put an image of f where you can put an image of f where you can put an image of f where you can put an image of f where you can put an image of f where you can put an image of a project, or anything else, along with a description.</p>
                <br>
                <div class="row">
                    <p class="col-3"></p>
                    <p class="text-white-50 mb-0 col-3"><span class="nameBorder">Likes: <span class="text-white">123</span></span></p>
                    <p class="text-white-50 mb-0 col-3"><span class="nameBorder">Dislikes: <span class="text-white">12</span></span></p>
                    <p class="col-3"></p>
                </div>
                <br>
                <button class="btn btn-outline-light mr-3 mb-3 mb-l-0">
                    <i class="fas fa-thumbs-up"></i> Like
                </button>
                <button class="btn btn-outline-light mb-3 mb-l-0">
                    <i class="fas fa-thumbs-down"></i> Dislike
                </button>
            </div>
        </div>
    </div>
</div>
