@using NatureShot.Common
@model NatureShot.Web.ViewModels.Home.IndexViewModel
@{ this.ViewData["Title"] = "Home Page";
    this.ViewData["Action"] = "Index"; }

<header class="masthead" id="masterHeader">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Nature Shot</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">A free, responsive, social platform for photographers.</h2>
            <a class="btn btn-primary js-scroll-trigger" asp-area="Identity" asp-page="/Account/Register">Get Started</a>
        </div>
    </div>
</header>
