@model NatureShot.Web.ViewModels.Images.ImagePostViewModel

<div class="row align-items-center no-gutters mb-4 mb-lg-5">
    <div class="col-xl-8 col-lg-7">

        <partial name="_ImageTagPartial" model="@Model" />

    </div>
    <div class="col-xl-4 col-lg-5 order-lg-first">
        <div class="featured-text-right text-center text-lg-left">

            <partial name="_ContentTagPartial" model="@Model" />

        </div>
    </div>
</div>