@model List<NatureShot.Web.ViewModels.Images.ImagePostViewModel>
<!--IMAGES-->
@for (int i = 0; i < Model.Count; i++)
{
    var image = Model[i];
    if (i % 2 == 0)
    {

        if (image.Type == "horizontal")
        {
            <partial name="_HorizontalLeftImagePartial" model="image" />
        }
        else
        {
            <partial name="_SmallHorizontalLeftImagePartial" model="image" />
        }

    }
    else
    {

        if (image.Type == "horizontal")
        {
            <partial name="_HorizontalRightImagePartial" model="image" />
        }
        else
        {
            <partial name="_SmallHorizontalRightImagePartial" model="image" />
        }
    }
}

<div id="imagesDiv">

</div>

<!--MODAL!!!!!!!!-->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <!--Content-->
        <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                    <img id="modalPhoto" class="embed-responsive-item" src=""
                         allowfullscreen />

                </div>
                <hr>
                <div class="text-center" id="modalInfo">


                    <p class="text-black-50 mb-3 mt-3"><span class="border-primary border-bottom">Location: <span id="locationName" class="text-dark"> No Location</span></span></p>
                    <p class="text-black-50 mb-3 mt-3"><span class="border-primary border-bottom">Camera: <span id="cameraName" class="text-dark"> No Camera</span></span></p>

                    <p class="text-black-50 mb-4"><span class="border-primary border-bottom" id="likeModalTrigger">Likes: <span id="likesName" class="text-dark">0</span></span></p>
                    <p class="text-black-50 mb-4"><span class="border-primary border-bottom" id="dislikeModalTrigger">Dislikes: <span id="dislikesName" class="text-dark">0</span></span></p>
                    <p class="text-black-50 mb-4"><span class="border-primary border-bottom" id="commentModalTrigger">Click to see <span id="commentsName" class="text-dark">Comments</span></span></p>
                    <p class="text-black-50 mb-0" id="id" hidden>0</p>

                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <span class="mr-4">Spread the word!</span>
                <a type="button" href="https://facebook.com" class="btn-floating btn-sm text-dark btn-fb"><i class="fab fa-facebook-f"></i></a>
                <!--Twitter-->
                <a type="button" href="https://twitter.com" class="btn-floating btn-sm text-dark btn-tw"><i class="fab fa-twitter"></i></a>
                <!--Google +-->
                <a type="button" href="https://pinterest.com" class="btn-floating btn-sm text-dark btn-gplus"><i class="fab fa-pinterest"></i></a>
                <!--Linkedin-->
                <a type="button" href="https://insagram.com" class="btn-floating btn-sm text-dark btn-ins"><i class="fab fa-instagram"></i></a>

                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4 border border-primary" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!--/.Content-->

    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="listOfUsersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" id="modalHeader">
                <h2 class="modal-title" id="listOfUsersModalTitle">Modal title</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="location">Location</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBodyLocation">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://maps.google.com/maps?q=Gulabovo/Bulgaria&t=&z=13&ie=UTF8&iwloc=&output=embed" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="cameraModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="camera">Camera info</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBodyCamera">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://maps.google.com/maps?q=Gulabovo/Bulgaria&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="h6">Are you sure you want to delete the post</p>
            </div>
            <div class="modal-footer" id="deleteFooter">
                <form method="post" asp-controller="Posts" asp-action="DeleteImage">
                    <input name="id" id="postId" value="" hidden />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Write Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="reportBody">
                <form method="post">
                    <input name="id" id="postId" value="" hidden />
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Subject:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="reportFooter">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="sendReport" class="btn btn-primary">Send Report</button>
            </div>
        </div>
    </div>
</div>

<div class="offset-md-5 offset-4">
    <button class="btn btn-primary loadMore" value="1">Load More</button>
</div>