@model List<NatureShot.Web.ViewModels.Images.ImagePostViewModel>
<!--Search-->
<div class="input-group input-group-lg md-form form-sm form-1 pl-0 mb-5 border-primary ml-md-5">
    <div class="input-group-prepend">
        <span class="input-group-text bg-primary border-primary" id="basic-text1">
            <a href="">
                <i class="fas fa-search text-white"
                   aria-hidden="true"></i>
            </a>
        </span>
    </div>
    <button type="submit" class="btnSmaller bg-primary text-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search By</button>
    <div class="dropdown-menu" id="dropdownSearch">
        <a class="dropdown-item active" href="javascript:void(0)">Name</a>
        <a class="dropdown-item" href="javascript:void(0)">Tag</a>
        <a class="dropdown-item" href="javascript:void(0)">Caption</a>
        <a class="dropdown-item" href="javascript:void(0)">Location</a>
        <a class="dropdown-item" href="javascript:void(0)">Camera</a>
    </div>
    <div class="input-group-append">
        <span class="input-group-text bg-primary text-white border border-primary" id="spanSearch">Name</span>
    </div>
    <form id="searchForm" class="col-md-8 ml-0 pl-0 pr-0 mr-0" method="get" asp-controller="PhotoPosts" asp-action="SearchByMostLikes">
        <input id="searchByInputHidden" type="hidden" name="searchBy" value="Name" />
        <input class="form-control p-4 input-lg my-0 py-1 searchBorder rounded-0" name="searchInput" type="text" placeholder="Search . . ." aria-label="Search">
    </form>
</div>

<!--FILTER ORDER BY-->
<div class="offset-md-9 offset-6 offset-lg-10 mb-5 mr-0">
    <button class="btn bg-primary text-white dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Order by</button>
    <div class="dropdown-menu" id="orderByDropDown">
        <a class="dropdown-item" asp-controller="PhotoPosts" asp-action="PhotosNewest">Date (Newest)</a>
        <a class="dropdown-item" asp-controller="PhotoPosts" asp-action="PhotosOldest">Date (Oldest)</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item active" asp-controller="PhotoPosts" asp-action="PhotosLikesMost">Likes (Most)</a>
        <a class="dropdown-item" asp-controller="PhotoPosts" asp-action="PhotosLikesLeast">Likes (Least)</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="PhotoPosts" asp-action="PhotosDislikesMost">Dislikes (Most)</a>
        <a class="dropdown-item" asp-controller="PhotoPosts" asp-action="PhotosDislikesLeast">Dislikes (Least)</a>
    </div>
</div>


<!--IMAGES-->
<partial name="_LoadImagesWithModal" model="Model" />


@section Scripts{

    <script src="~/js/ModalPhoto.js"></script>
    <script src="~/js/LoadMoreImagePosts.js"></script>
    <script src="~/js/SearchByInput.js"></script>
    <script src="~/js/OrderByFormPhotos.js"></script>
    <script src="~/js/LikeDislikeImage.js"></script>
    <script src="~/js/CommentImage.js"></script>
    <script src="~/js/LikeDislikeCommentModal.js"></script>
    <script src="~/js/LocationModalVideo.js"></script>
    <script src="~/js/CameraInfoModal.js"></script>
}