@model List<NatureShot.Web.ViewModels.Videos.VideoPostViewModel>
<!--Videos-->
@for (int i = 0; i < Model.Count; i++)
{
    var video = Model[i];
    if (i % 2 == 0)
    {
        <partial name="_VideosLeftPartial" model="video" />
    }
    else
    {
        <partial name="_VideosRightPartial" model="video" />
    }
}

<div id="videosDiv">

</div>

<div class="modal fade bd-example-modal" id="VideoInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="modalHeaderInfo">
                <h2 class="modal-title" id="listOfUsersModalTitle">Video Info</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBodyInfo">
                <p class="text-black-50 mb-3 mt-3"><span class="border-primary border-bottom">Location: <span id="locationName" class="text-dark"> No Location</span></span></p>
                <p class="text-black-50 mb-3 mt-3"><span class="border-primary border-bottom">Camera: <span id="cameraName" class="text-dark"> No Camera</span></span></p>
                <p class="text-black-50 mb-3 mt-3"><span class="border-primary border-bottom">Length: <span id="lengthName" class="text-dark"> No Length</span></span></p>

                <p class="text-black-50 mb-4"><span class="border-primary border-bottom" id="likeModalTrigger">Likes: <span id="likesName" class="text-dark">0</span></span></p>
                <p class="text-black-50 mb-4"><span class="border-primary border-bottom" id="dislikeModalTrigger">Dislikes: <span id="dislikesName" class="text-dark">0</span></span></p>
                <p class="text-black-50 mb-4"><span class="border-primary border-bottom" id="commentModalTrigger">Click to see <span id="commentsName" class="text-dark">Comments</span></span></p>
                <p class="text-black-50 mb-0" id="id" hidden>0</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="listOfUsersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" id="modalHeader">
                <h2 class="modal-title" id="listOfUsersModalTitle">Modal title</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="location">Location</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBodyLocation">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://maps.google.com/maps?q=Gulabovo/Bulgaria&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="cameraModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="camera">Camera info</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBodyCamera">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://maps.google.com/maps?q=Gulabovo/Bulgaria&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="h6">Are you sure you want to delete the post</p>
            </div>
            <div class="modal-footer" id="deleteFooter">
                <form method="post" asp-controller="Posts" asp-action="DeleteVideo">
                    <input name="id" id="postId" value="" hidden />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Write Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="reportBody">
                <form method="post">
                    <input name="id" id="postId" value="" hidden />
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Subject:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="reportFooter">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="sendReport" class="btn btn-primary">Send Report</button>
            </div>
        </div>
    </div>
</div>

<div class="offset-md-5 offset-4">
    <button class="btn btn-primary loadMore" value="1">Load More</button>
</div>