@model NatureShot.Web.ViewModels.Videos.VideoPostViewModel

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="@Model.VideoUrl" frameborder="0" allowfullscreen data-toggle="modal" data-target="#modal1"></iframe>
</div>
